body {
  height: 4000px;
  box-sizing: border-box;
}
:root{
  --mainColor:red;
}


.container{
  width: 80%;
  margin: auto;
  height: 500px;
  border: 2px solid black;
display: flex;
flex-wrap:wrap;
justify-content:space-around ;
align-items: center;
}

.card {
  width: 25%;
  height: 100px;
  border: 2px solid red;
  border-radius: 10px;
  background-color:var(--mainColor)  ;
display: flex;
align-items: center;
justify-content: center;

}


ul{
  list-style:none;
}
